<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>EVENT SUCCESFULLY ADDED</h1>
     </div>
     <div id="main">
       <p>Thanks for your submission!</p>
       <p>Here's a review of the information that you added:</p>
       <p>
          <strong>Name</strong>: {{name}} <br>
          <strong>Description</strong>: {{description}} <br>
          <strong>Expected Attendance</strong>: {{expected_attendance}} <br>
          <strong>Venue ID</strong>: {{venue_id}} <br>
          <strong>Event Owner</strong>: {{event_owner}} <br>
          <strong>Start Time</strong>: {{start_time}} <br>
       </p>
     </div>
   </div>
 </body>
</html>
