<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="URL Shortener with Python Flask, Bootstrap, API Gateway, Lambda and DynamoDB">
    <meta name="author" content="Ruan Bekker">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <title> LOGIN </title>

    <link href="http://flask.pocoo.org/docs/0.12/_static/flask-favicon.ico" rel="icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/justified-nav/justified-nav.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <style>
      heading {
        font-family: 'Raleway', sans-serif;
        font-size: 46px;
      }
    </style>

  </head>

  <body>
    <div class="container">

      <div class="jumbotron">
        <heading> LOGIN PAGE</heading>
      </div>

      <form action="{{ url_for('login_index') }}" method="post">
        <div class="input-group col-md-4 col-lg-offset-4">
          <input type="email" class="form-control input-lg" name="email" placeholder="Email" id="email" autofocus required>  
          <input type="text" class="form-control input-lg" name="EID" placeholder="EID" id="EID" autofocus required>
        </div>

        <br> <br> 

        <div class="input-group-btn">   <div class = "col-md-2"> </div> <div class = "col-md-3"> </div> 
          <div class = "col-md-5"> 
            <button class="btn btn-primary btn-lg align-self-end btn btn-block btn-primary" style="max-width: 40%; background-color: #b34a00; border: none;" type="submit">
              <i class="fas fa-magic"> SUBMIT </i> 
            </button>
          </div>
        </div>
      </form>

    </div>
  </body>
  </html>
