<!-- <html>
  <head>
    <title> login </title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>LOGIN PLEASE</h1>
      </div>
      <div id="main">
        {% if error %}
          <p><strong>Error:</strong> {{ error }} </p>
        {% endif %}
        
        <form method="post" action="{{ url_for('login_index') }}">
          <label for="email"> Email:</label>
          <input type="text" name="email"><br />
          <label for="EID">EID:</label>
          <input type="text" name="EID"><br />
          <input type="submit">
        </form>

      </div>
    </div>
  </body>
</html>
 -->
<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  </head>
  
  <body>
    <div class="login">
      <h1>Login</h1>
      
      {% if error %}
          <p><strong>Error:</strong> {{ error }} </p>
      {% endif %}

      <form action="{{ url_for('login_index') }}" method="post">
        
        <label for="email_pic">
          <i class="fas fa-user"></i>
        </label>

        <input type="email" name="email" placeholder="Email" id="email" required>
        

        <label for="EID_pic">
          <i class="fas fa-lock"></i>
        </label>
        
        <input type="text" name="EID" placeholder="EID" id="EID" required>

        <input type="submit" value="Login">
      </form>
    </div>
  </body>
</html>