<html>
  <head>
    <title>Add a venue</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    
    <div id="container">
      
      <div class="pagetitle">
        <h1>ADD A VENUE FORM</h1>
      </div>
      
      <div id="main">
        <form method="post" action="{{ url_for('submitted_form') }}">
          <label for="bldg_code">Building Code:</label>
          <input type="text" name="bldg_code"><br />
          
          <label for="floor_num">Floor Number:</label>
          <input type="text" name="floor_num"><br />
          
          <label for="room_num">Room Number:</label>
          <input type="text" name="room_num"><br />
          
          <label for="room_capacity">Room Capacity:</label>
          <input type="text" name="room_capacity"><br />
          
          <label for="open_time">Open Time:</label>
          <input type="text" name="open_time"><br />
          
          <label for="close_time">Close Time:</label>
          <input type="text" name="close_time"><br />
          
          <input type="submit">
        </form>
      </div>

    </div>
    
  </body>
</html>

