<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>VENUE SUCCESFULLY ADDED</h1>
     </div>
     <div id="main">
       <p>Thanks for your submission!</p>
       <p>Here's a review of the information that you added:</p>
       <p>
          <strong>Building Code</strong>: {{bldg_code}} <br>
          <strong>Floor Number</strong>: {{floor_num}} <br>
          <strong>Room Number</strong>: {{room_num}} <br>
          <strong>Room Capacity</strong>: {{room_capacity}} <br>
       </p>
     </div>
   </div>
 </body>
</html>